<div class="container" > 
    <br>
    <div> <input  class="form-control mr-sm-2" type="text" placeholder="Search" [(ngModel)]="fltr" ></div>
    <table class="table">
        <thead> 
            <tr> 
                <th>Flag</th>
                <th>Name</th>
                <th>Content</th>
                <th>QuartFinal</th>
                <th>Semi final</th>
                <th>Quart final</th>
                <th>Number of cups</th>
        
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let team of Teams | filter:fltr |orderBy:key "> 
                <td> <img width="80px" height="50px" src={{team.flag}}></td>
                <td>{{team.name}}</td>
                <td>{{team.content}}</td>
                <td>{{team.quartFinal}}</td>
                <td>{{team.semiFinal}}</td>
                <td>{{team.final}}</td>
                <td>{{team.numbrCups}}</td>

                <td *ngIf="HardcodedAuthenticationService.isUserAdmin()"><button class="btn btn-primary" > Update</button> </td>
                <td *ngIf="HardcodedAuthenticationService.isUserAdmin()"><button class="btn btn-danger" (click)="delete(team.id)"> Delete</button> </td>
               
            </tr>
        </tbody>
    </table>
    </div>