<div class="container" > 
    <table class="table">
        <thead> 
            <tr> 
              
                <th>Name</th>
                <th>Content</th>
                <th>QuartFinal</th>
                <th>Semi final</th>
                <th>Quart final</th>
                <th>Number of cups</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let team of Teams"> 
                <td>{{team.name}}</td>
                <td>{{team.content}}</td>
                <td>{{team.quartFinal}}</td>
                <td>{{team.semiFinal}}</td>
                <td>{{team.final}}</td>
                <td>{{team.numbrCups}}</td>
                <td><button class="btn btn-primary"> Update</button> </td>
                <td><button class="btn btn-danger"> Delete</button> </td>
               
            </tr>
        </tbody>
    </table>
    </div>