<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark ">
       
        <ul class="navbar-nav">
            <li ><a  routerLink="/"     *ngIf="HardcodedAuthenticationService.isUserLoggedIn() " class="nav-link "> Home &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; </a></li>
            <li><a routerLink="/addteam"  *ngIf="HardcodedAuthenticationService.isUserAdmin()"  class="nav-link">   Add team  </a>  </li>
            <li><a routerLink="/teams"  *ngIf="HardcodedAuthenticationService.isUserLoggedIn()" class="nav-link">   Teams &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;</a> </li>
            <li><a routerLink="/addplayer"  *ngIf="HardcodedAuthenticationService.isUserAdmin()" class="nav-link">   Add player </a> </li>
            <li><a routerLink="/players"  *ngIf="HardcodedAuthenticationService.isUserLoggedIn()" class="nav-link">   Players &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; </a> </li>
            <li><a routerLink="/addmatch"  *ngIf="HardcodedAuthenticationService.isUserAdmin()" class="nav-link">   Add match </a> </li>
            <li><a routerLink="/matches"  *ngIf="HardcodedAuthenticationService.isUserLoggedIn()" class="nav-link">   Matches </a> </li>
        </ul>
        <ul class="navbar-nav navbar-collapse justify-content-end ">
            <li *ngIf="HardcodedAuthenticationService.isUserLoggedIn()"><img src="https://cdn-icons-png.flaticon.com/512/219/219986.png" height="40px" width="40px" > &nbsp;<font color="white">{{user}}</font></li> 
            <li><a routerLink="/login" *ngIf="!HardcodedAuthenticationService.isUserLoggedIn()" class="nav-link "> Login </a></li>
            <li><a routerLink="/logout"  *ngIf="HardcodedAuthenticationService.isUserLoggedIn()"class="nav-link" > Logout </a> </li>
        </ul>
    </nav>
</header>
