<div class="container" > 
    <table class="table">
        <thead> 
            <tr> 
                <th>   </th>
                <th>Name</th>
                <th>Position</th>
                <th>Goals</th>
                <th>Number</th>
                <th>Age</th>
                <th>Country</th>
                
                
             
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let player of Players"> 
                <td><img width="50px" heigth="100px" src="{{player.pic}}"></td>
                <td>{{player.fullName}}</td>
                <td>{{player.position}}</td>
                <td>{{player.numberGoals}}</td>
                <td>{{player.number}}</td>
                <td>{{player.age}}</td>
                <td> <img  width="60px" height="40px" src="{{player.nationality.flag}}"></td>
                 
                
                
               
                <td *ngIf="HardcodedAuthenticationService.isUserAdmin()"><button class="btn btn-primary" > Update</button> </td>
                <td *ngIf="HardcodedAuthenticationService.isUserAdmin()"><button class="btn btn-danger" (click)="delete(player.id)"> Delete</button> </td>
               
            </tr>
        </tbody>
    </table>
    </div>