<form #frm="ngForm" (ngSubmit)="HandleAddPlayer(frm.value)">
    <div class="form-group container">
        Full name<input class="form-control" type="text" name="fullName" ngModel/> 
        Position <input  class="form-control" type="number"  name="position" ngModel/> 
        Number <input  class="form-control"type="text" name="number" ngModel/> 
        Age <input class="form-control" type="text"  name="age" ngModel />
        Number of goals <input class="form-control" type="text"  name="numberGoals" ngModel/> 
        Yellow cards  <input class="form-control" type="text"  name="numberYellowCards" ngModel/> 
        Red cards<input class="form-control" type="text"  name="getNumberRedCards" ngModel/> 
        <input type="submit"  class="btn btn-primary">
    </div>
</form>
